{
    "settings": {
        "ecmasript": 6,
        "jsx": true
    },
    "ecmaFeatures": {
        arrowFunctions: true,
        jsx: true,
        destructuring: true,
        objectLiteralShorthandMethods: true
    },
    "parser": "espree",
    "env": {
        "browser": true
    },
    "rules": {
        "strict": 0,
        "quotes": [2,"single"],
        "no-unused-vars": 2,
        "no-console": 1
    },
    "globals": {
        "require": true,
        "module": true
    }
}
