html {
    height:100vh;
    width:100vw;
    position: absolute;
    margin:0;
    min-height: 350px;
}
body{
    margin:0;
    height:100%;
    width:100%;
    background:#222;
    text-align:center;
}

div#container {
    position: absolute;
    top:5px;
    bottom:5px;
    left:5px;
    right:5px;
    text-align: right;
    min-height: 350px;
}

div#state-machine, div#graph-container {
    width: 100%;
    height: 100%;
    background:#555;
    overflow: auto;
    vertical-align: top;
}

div#buttons {
    position: absolute;
    top:5px;
    right:5px;
}

div#buttons .btn-group {
    float: right;
}

div#buttons button {
    background:#555;
    border-color:#555;
    color:white;
}

div#buttons button:hover {
    background:#666;
}

div#buttons button:focus {
    outline-color:yellow;
}

div#footText {
    text-align: center;
    position: absolute;
    left: 5px;
    bottom: 5px;
    right:5px;
    background: #222;
    word-wrap:normal;
    overflow:hidden;
}

div#footText p {
    font-size:32px;
    margin: 5px 10px 5px 0;
    font-style:oblique;
    font-weight:bold;
    color:white;
    display: inline;
}

div#footText p.label {
    font-style:normal;
    font-weight:none;
    color: #888;
}

svg#state-machine-graph{
    width:calc(100% - 75px);
    height: 100%;
    background:#555;
    margin: auto;
    display: block;
    stroke-width: 2;
}

div#sidebar{
    width: 75px;
    height: 100%;
    float: Left;
    background: #444;
    border-right: 1px solid #333;
    font-weight: bold;
}

div#sidebar svg{
    stroke-width: 4;
}

#tools {
    height: calc(100% - 130px);
    width: 100%;
    min-height: 175px;
}

#trash {
    width: 75px;
    height: 75px;
}

#sidebar g.tool circle{
    stroke:white;
    fill:rgba(0,0,0,0);
}

#sidebar g.tool text{
    stroke: none;
    fill: white;
    text-anchor:middle;
    pointer-events:none;
}

#sidebar g.tool text.glyphicon{
    stroke: none;
    text-anchor:middle;
    font-size:1.5em;
}

#trash g.tool circle{
    stroke:#666;
}

#trash g.tool text{
    fill:#666;
}

#trash g.tool.can-trash circle{
    stroke:white;
}

#trash g.tool.can-trash text{
    fill:white;
}

#trash g.tool.remove circle{
    stroke:red;
}

#trash g.tool.remove text{
    fill:red;
}

svg, svg * {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#state-machine-graph:focus {
	border-bottom-color: yellow;
	border-bottom-width: thick;
	border-bottom-style: solid;
    outline:none;
}

#state-machine-graph.edit:focus {
	border-bottom-color: #0FF;
}

input#string {
    width:796px;
}

#triangle {
    fill:black;
}

#triangle-selected {
    fill:yellow;
}

#triangle-toolbox {
    fill:white;
}

g.transition path {
    stroke:black;
    fill:none;
    marker-end: url(#triangle);
}

g.tool line {
    stroke:white;
    fill: none;
    marker-end: url(#triangle-toolbox);
}

g.tool.active line{
    stroke:yellow;
    marker-end: url(#triangle-selected);
}

g.transition.current path {
    stroke:yellow;
    marker-end: url(#triangle-selected);
}

g.state circle {
    stroke:black;
    fill:#aaa;
}

g.state.accept-state circle {
    fill:#3BB;
}

g.state.current circle {
    stroke:yellow;
}

circle.label-container {
    z-index: 30;
    position: relative;
    stroke: black;
    fill: black;
}

g.transition.current circle.label-container {
    stroke: yellow;
}

g.transition.edit circle.label-container {
    stroke: #0FF;
}

text.transition-label {
    z-index:31;
    position: relative;
    text-anchor:middle;
    fill:white;
    pointer-events: none;
}

.glyphicon {
    pointer-events: none;
}

text.transition-label.special {
    fill:#f00;
}

text.state-label {
    z-index: 32;
    position: relative;
    text-anchor:middle;
    fill:black;
    pointer-events: none;
}
