html {
    height:100vh;
    width:100vw;
    position: absolute;
    margin:0;
    overflow:hidden;
}
body{
    margin:0;
    height:100%;
    width:100%;
    background:#222;
    text-align:center;
    overflow: hidden;
}

div#container {
    position: absolute;
    top:5px;
    bottom:5px;
    left:5px;
    right:5px;
    text-align: right;
}

div#state-machine {
    width: 100%;
    height: 100%;
    background:#555;
    overflow: auto;
}

div#buttons {
    position: absolute;
    top:5px;
    left:5px;
    right:5px;
}

div#buttons .btn-group {
    float: right;
}

div#buttons button {
    background:#555;
    border-color:#555;
    color:white;
}

div#buttons button:hover {
    background:#666;
}

div#buttons button:focus {
    outline-color:yellow;
}

div#response {
    text-align: center;
    position: absolute;
    left: 5px;
    bottom: 5px;
    right:5px;
    background: rgba(0,0,0,.5);
    word-wrap:normal;
    overflow:hidden;
}

div#response p {
    font-size:32px;
    margin: 5px 10px 5px 0;
    font-style:oblique;
    font-weight:bold;
    color:white;
    display: inline;
}

div#response p.label {
    font-style:normal;
    font-weight:none;
    color: #888;
}

svg{
    width:100%;
    height: 100%;
    background:#555;
    margin: auto;
    display: block;
    stroke-width: 2;
}

#state-machine:focus {
	border-bottom-color: yellow;
	border-bottom-width: thick;
	border-bottom-style: solid;
    outline:none;
}

input#string {
    width:796px;
}

#triangle {
    fill:black;
}

#triangle-selected {
    fill:yellow;
}

path.transition {
    stroke:black;
    fill:none;
    marker-end: url(#triangle);
}

path.transition.current {
    stroke:yellow;
    marker-end: url(#triangle-selected);
}

circle.state {
    stroke:black;
    fill:#aaa;
}

circle.state.accept-state {
    fill:#3BB;
}

circle.state.current {
    stroke:yellow;
}

circle.label-container {
    stroke: black;
    fill: black;
}

circle.label-container.current {
    stroke: yellow;
}

text.transition-label {
    text-anchor:middle;
    fill:white;
}

text.transition-label.special {
    fill:#f00;
}

text.state-label {
    text-anchor:middle;
    fill:black;
}
