body{
    background:#222;
    text-align:center;
}

svg{
    background:#555;
    margin: auto;
    display: block;
    stroke-width: 2;
}

input#string {
    width:796px;
}

#triangle {
    fill:black;
}

#triangle-selected {
    fill:yellow;
}

path.transition {
    stroke:black;
    fill:none;
    marker-end: url(#triangle);
}

path.transition.current {
    stroke:yellow;
    marker-end: url(#triangle-selected);
}

circle.state {
    stroke:black;
    fill:#aaa;
}

circle.state.accept-state {
    fill:#3BB;
}

circle.state.current {
    stroke:yellow;
}

circle.label-container {
    stroke: black;
    fill: black;
}

circle.label-container.current {
    stroke: yellow;
}

text.transition-label {
    text-anchor:middle;
    fill:white;
}

text.transition-label.special {
    fill:#f00;
}

text.state-label {
    text-anchor:middle;
    fill:black;
}
